/*  body, html {
      height: 100%;
      margin: 0;
  }*/

.body {

    background-image: url("communityFood.JPG");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
  padding-top: 50px;
  text-align: center;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: 60px;
  font-weight: 200;
}


.login{
  padding: 40px;

}

.login .usr{
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}


.login .pswrd {
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login .submitButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  font-family: monospace;
  background-color: #57d6c7;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}
.login .signButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  font-family: monospace;
  background-color: #57d6c7;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}


.login .submitButton:hover{
  opacity: 0.8;
}

.login .submitButton:active{
  opacity: 0.6;
}
.login .signButton:hover{
  opacity: 0.8;
}

.login .signButton:active{
  opacity: 0.6;
}

.login .usr:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login .pswrd:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login .submitButton:focus{
  outline: none;

}

::-webkit-input-placeholder{
  font-family: monospace;
  color: black;
}

::-moz-input-placeholder{
  font-family: monospace;
  color: black;
}

.login .top{
  padding: 20px;
}
.login .bottom{
  padding-bottom: 20px;
}

.homes{
  padding-top: 450px;
  padding-right: 50px;
  text-align: right;

}
.homes input [type=button]:focus{
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.0);
}




  body{
      min-height: 150%;
      margin: 0;
      border: 1px solid transparent;

  }

  html{
    height: 500%;


  }

.bodyHS {  /*93B784*/

    background-color: #93B784;
    /*repeating-linear-gradient(135deg, #9CE2C0, #9CE2C0 5px, #D5F7E8 5px, #D5F7E8 11.8px);*/

    height: 100%;

    background-position: center;
    /*background-repeat: repeat;*/
    background-size: cover;/*cover;*/
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: pink;
    z-index: 1;

}

.headerHS{
  padding-top: 5px;
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 60px;
  font-weight: 200;
}


.loginHS{
  padding: 40px;
}

.logoutHS{
  padding: 40px;
}

.loginHS .usr{
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}


.loginHS .pswrd {
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.loginHS .submitButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  font-family: monospace;
  background-color: #57d6c7;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}

.logoutHS .submitButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  font-family: monospace;
  background-color: #57d6c7;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}

.loginHS .submitButton:hover{
  opacity: 0.8;
}

.loginHS .submitButton:active{
  opacity: 0.6;
}
.loginHS .signButton:hover{
  opacity: 0.8;
}

.loginHS .signButton:active{
  opacity: 0.6;
}

.loginHS .usr:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.loginHS .pswrd:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.loginHS .submitButton:focus{
  outline: none;

}

::-webkit-input-placeholder{
  font-family: monospace;
  color: black;
}

::-moz-input-placeholder{
  font-family: monospace;
  color: black;
}

.loginHS .top{
  padding: 20px;
}
.loginHS .bottom{
  padding-bottom: 20px;
}

.homes{
  padding-top: 450px;
  padding-right: 50px;
  text-align: right;

}
.homes input [type=button]:focus{
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.0);
}











  /*body, html {
      height: 100%;
      margin: 0;
  }*/

.bodyAN {

    background-color: #93B884;

    height: 100%;

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.headerAN{
  padding-top: 50px;
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 60px;
  font-weight: 200;
}


.addNewRecipe{
  padding: 40px;
}

.addNewRecipe .recipeTitle{
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}


.addNewRecipe .recipeTime {
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.addNewRecipe .recipeAmount {
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.addNewRecipe .recipeIngredients {
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.addNewRecipe .recipeDirections {
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.addNewRecipe .submitButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  font-family: monospace;
  background-color: #57d6c7;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}
.addNewRecipe .signButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  font-family: monospace;
  background-color: #57d6c7;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}

.addNewRecipe .title{
  padding: 20px;
}
.addNewRecipe .time{
  padding: 20px;
}

.addNewRecipe .amount{
  padding-bottom: 20px;
}

.addNewRecipe .ingredients{
  padding-bottom: 20px;
}

.addNewRecipe .directions{
  padding-bottom: 20px;
}

.addNewRecipe .submitButton:hover{
  opacity: 0.8;
}

.addNewRecipe .submitButton:active{
  opacity: 0.6;
}
.addNewRecipe .signButton:hover{
  opacity: 0.8;
}

.addNewRecipe .signButton:active{
  opacity: 0.6;
}

.addNewRecipe .recipeTitle:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.addNewRecipe .recipeTime:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.addNewRecipe .recipeAmount:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.addNewRecipe .recipeIngredients:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.addNewRecipe .recipeDirections:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.addNewRecipe .submitButton:focus{
  outline: none;

}

::-webkit-input-placeholder{
  font-family: monospace;
  color: black;
}

::-moz-input-placeholder{
  font-family: monospace;
  color: black;
}

.addNewRecipe .title{
  padding: 20px;
}
.addNewRecipe .time{
  padding: 20px;
}

.addNewRecipe .ingredients{
  padding: 20px;
}

.addNewRecipe .directions{
  padding-bottom: 20px;
}

.homes{
  padding-top: 450px;
  padding-right: 50px;
  text-align: right;

}
.homes input [type=button]:focus{
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.0);
}





/*body, html {
    height: 100%;
    margin: 0;
}*/

.bodySU {

  background-color: #93B884;

  height: 100%;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.headerSU{
padding-top: 50px;
text-align: center;
color: white;
font-family: monospace;
font-size: 60px;
font-weight: 200;
}


.addNewUser{
padding: 40px;


}

.addNewUser .usernameNew{
width: 250px;
height: 40px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}


.addNewUser .passwordNew {
width: 250px;
height: 40px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}

.addNewUser .emailNew {
width: 250px;
height: 40px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}

.addNewUser .submitButton{
padding: 10px 15px 11px !important;
font-size: 18px !important;
font-family: monospace;
background-color: #57d6c7;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}
.addNewUser .signButton{
padding: 10px 15px 11px !important;
font-size: 18px !important;
font-family: monospace;
background-color: #57d6c7;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}

.addNewUser .userSU{
  padding: 20px;
}
.addNewUser .passSU{
  padding: 20px;
}

.addNewUser .emailSU{
  padding-bottom: 20px;
}


.addNewUser .submitButton:hover{
opacity: 0.8;
}

.addNewUser .submitButton:active{
opacity: 0.6;
}
.addNewUser .signButton:hover{
opacity: 0.8;
}

.addNewUser .signButton:active{
opacity: 0.6;
}

.addNewUser .usernameNew:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.addNewUser .passwordNew:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.addNewUser .emailNew:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.addNewUser .submitButton:focus{
outline: none;

}

::-webkit-input-placeholder{
font-family: monospace;
color: black;
}

::-moz-input-placeholder{
font-family: monospace;
color: black;
}

.addNewUser .top{
padding: 20px;
}
.addNewUser .bottom{
padding-bottom: 20px;
}

.homes{
  padding-top: 450px;
  padding-right: 50px;
  text-align: right;

}
.homes input [type=button]:focus{
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.0);
}




/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    padding: 19px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 550px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 1000%;
    left: 50%;
    margin-left: -50px;
    border-width: 50px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



/* Recipe Enlarged */
html {
    height: 100%;
    margin: 0;
}
/*body{ background:#4A90E2; display:flex; align-items:center; }*/


/*.contentClass {

  background-color: #93B884;

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentClass{
padding-top: 50;
text-align: center;
color: white;
font-family: monospace;
font-size: 60px;
font-weight: 200;
}*/

textarea{
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  height: 20px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.6);
  padding: 4px;
  width: 250px;
  color: black;
  font-family: monospace;
  font-size: 16px;
  margin: 5px auto;
  border-radius: 2px;
  font-weight: 400;
  /*box-shadow: 2px 2px 8px rgba(black, .3);*/
}

.recipe-replace{
padding: 10px;
}

.recipe-replace .name{
width: 250px;
height: 20px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}


.recipe-replace .minutes {
width: 250px;
height: 20px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}

.recipe-replace .serving {
width: 250px;
height: 20px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}

.recipe-replace .ingredients {
width: 500px;
height: 60px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}

.recipe-replace .directions {
width: 500px;
height: 60px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}

.recipe-replace .title{
/*width: 250px;
height: 20px;
background: rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.6);
border-radius: 2px;*/
color: black;
font-family: monospace;
font-size: 16px;
font-weight: 400;
padding: 4px;
}

.recipe-replace .submitButton{
padding: 10px 15px 11px !important;
font-size: 18px !important;
font-family: monospace;
background-color: #57d6c7;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}


.recipe-replace .name{
padding: 5px;
}
.recipe-replace .minutes{
padding: 20px;
}

.recipe-replace .serving{
padding-bottom: 20px;
}

.recipe-replace .ingredients{
padding-bottom: 20px;
}

.recipe-replace .directions{
padding-bottom: 20px;
}

.recipe-replace .title{
padding: 5px;
}

.recipe-replace .submitButton:hover{
opacity: 0.8;
}

.recipe-replace .submitButton:active{
opacity: 0.6;
}


.recipe-replace .name:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.recipe-replace .minutes:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.recipe-replace .serving:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.recipe-replace .ingredients:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.recipe-replace .directions:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.recipe-replace .submitButton:focus{
outline: none;

}

::-webkit-input-placeholder{
font-family: monospace;
color: black;
}

::-moz-input-placeholder{
font-family: monospace;
color: black;
}

.recipe-replace .name{
padding: 20px;
}
.recipe-replace .minutes{
padding: 20px;
}
.recipe-replace .serving{
padding: 20px;
}
.recipe-replace .ingredients{
padding: 20px;
}

.recipe-replace .directions{
padding: 20px;
}

/*.homes{
  padding-top: 450px;
  padding-right: 50px;
  text-align: right;

}*/
/*.homes input [type=button]:focus{
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.0);
}*/
